N-Tier WPF Application/WPFArch.UI.BusinessLayer/Service References/OrderServiceReference/OrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://msvc.ziyasal.com/OrderService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://msvc.ziyasal.com/OrderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://msvc.ziyasal.com/OrderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary.Request.Order" />
      <xsd:import schemaLocation="http://msvc.ziyasal.com/OrderService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary.Response.Order" />
      <xsd:import schemaLocation="http://msvc.ziyasal.com/OrderService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderService_GetOrderByCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderByCustomer" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrderByCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderByCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_AddOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_AddOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_UpdateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_DeleteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderService">
    <wsdl:operation name="GetOrderByCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetOrderByCustomer" message="tns:IOrderService_GetOrderByCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetOrderByCustomerResponse" message="tns:IOrderService_GetOrderByCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/AddOrder" message="tns:IOrderService_AddOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/AddOrderResponse" message="tns:IOrderService_AddOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/UpdateOrder" message="tns:IOrderService_UpdateOrder_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/DeleteOrder" message="tns:IOrderService_DeleteOrder_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetOrder" message="tns:IOrderService_GetOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetOrderResponse" message="tns:IOrderService_GetOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basicHttpBinding" type="tns:IOrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrderByCustomer">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetOrderByCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/AddOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/UpdateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/DeleteOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderService">
    <wsdl:port name="basicHttpBinding" binding="tns:basicHttpBinding">
      <soap:address location="http://msvc.ziyasal.com/OrderService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>