N-Tier WPF Application/WPFArch.UI.BusinessLayer/Service References/OrderServiceReference/OrderService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary.Response.Order" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary.Response.Order" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://msvc.ziyasal.com/OrderService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary" />
  <xs:complexType name="GetOrderByCustomerResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary" minOccurs="0" name="Orders" nillable="true" type="q1:ArrayOfOrderDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetOrderByCustomerResponse" nillable="true" type="tns:GetOrderByCustomerResponse" />
  <xs:complexType name="AddOrderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddOrderResponse" nillable="true" type="tns:AddOrderResponse" />
  <xs:complexType name="GetOrderResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary" minOccurs="0" name="OrderDto" nillable="true" type="q2:OrderDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetOrderResponse" nillable="true" type="tns:GetOrderResponse" />
</xs:schema>