N-Tier WPF Application/WPFArch.UI.BusinessLayer/Service References/OrderServiceReference/OrderService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary.Request.Order" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary.Request.Order" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://msvc.ziyasal.com/OrderService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary" />
  <xs:complexType name="GetOrderByCustomerReguest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetOrderByCustomerReguest" nillable="true" type="tns:GetOrderByCustomerReguest" />
  <xs:complexType name="AddOrderRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary" minOccurs="0" name="OrderDto" nillable="true" type="q1:OrderDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddOrderRequest" nillable="true" type="tns:AddOrderRequest" />
  <xs:complexType name="UpdateOrderRequest">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary" minOccurs="0" name="OrderDto" nillable="true" type="q2:OrderDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateOrderRequest" nillable="true" type="tns:UpdateOrderRequest" />
  <xs:complexType name="DeleteOrderRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteOrderRequest" nillable="true" type="tns:DeleteOrderRequest" />
  <xs:complexType name="GetOrderRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetOrderRequest" nillable="true" type="tns:GetOrderRequest" />
</xs:schema>