N-Tier WPF Application/WPFArch.UI.BusinessLayer/Service References/OrderServiceReference/OrderService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://msvc.ziyasal.com/OrderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary.Request.Order" />
  <xs:import schemaLocation="http://msvc.ziyasal.com/OrderService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary.Response.Order" />
  <xs:element name="GetOrderByCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary.Request.Order" minOccurs="0" name="reguest" nillable="true" type="q1:GetOrderByCustomerReguest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderByCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary.Response.Order" minOccurs="0" name="GetOrderByCustomerResult" nillable="true" type="q2:GetOrderByCustomerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary.Request.Order" minOccurs="0" name="request" nillable="true" type="q3:AddOrderRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary.Response.Order" minOccurs="0" name="AddOrderResult" nillable="true" type="q4:AddOrderResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary.Request.Order" minOccurs="0" name="request" nillable="true" type="q5:UpdateOrderRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary.Request.Order" minOccurs="0" name="request" nillable="true" type="q6:DeleteOrderRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary.Request.Order" minOccurs="0" name="request" nillable="true" type="q7:GetOrderRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary.Response.Order" minOccurs="0" name="GetOrderResult" nillable="true" type="q8:GetOrderResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>