N-Tier WPF Application/WPFArch.UI.BusinessLayer/Service References/CustomerServiceReference/CustomerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary.Response.Customer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary.Response.Customer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://msvc.ziyasal.com/CustomerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary" />
  <xs:complexType name="GetCustomersResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary" minOccurs="0" name="Customers" nillable="true" type="q1:ArrayOfCustomerDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCustomersResponse" nillable="true" type="tns:GetCustomersResponse" />
  <xs:complexType name="AddCustomerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddCustomerResponse" nillable="true" type="tns:AddCustomerResponse" />
</xs:schema>