N-Tier WPF Application/WPFArch.UI.BusinessLayer/Service References/CustomerServiceReference/CustomerService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://msvc.ziyasal.com/CustomerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary.Response.Customer" />
  <xs:import schemaLocation="http://msvc.ziyasal.com/CustomerService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary.Request.Customer" />
  <xs:element name="GetCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary.Response.Customer" minOccurs="0" name="GetCustomersResult" nillable="true" type="q1:GetCustomersResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary.Request.Customer" minOccurs="0" name="request" nillable="true" type="q2:AddCustomerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary.Response.Customer" minOccurs="0" name="AddCustomerResult" nillable="true" type="q3:AddCustomerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary.Request.Customer" minOccurs="0" name="request" nillable="true" type="q4:UpdateCustomerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WPFArch.WCF.DtoLibrary.Request.Customer" minOccurs="0" name="request" nillable="true" type="q5:DeleteCustomerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>